<div class="m-5">
    <h2>From Event</h2>

    <h6>Creates an Observable that emits events of a specific type coming from the given event target.</h6>
    <br>

    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">Add Video</div>
                <div class="card-body">
                    <button #addBtn class="btn btn-primary">
                        Add
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List Video</div>
                <div class="card-body">
                    <ul id="elContainer">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">List Video</div>
                <div class="card-body">
                    <ul id="elContainer2">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>