<div class="m-5">
    <h2>Take, TakeLast, TakeUntil</h2>

    <h6>Emits only the first count values emitted by the source Observable.</h6>
    <hr>
    
    <p class="bg-light py-2 px-3 border rounded">
        <strong>Random Names: </strong>
        'Rishabh', 'Ritik', 'Vishwjeet', 'Antul', 'Suryanshu', 'Shashank', 'Vikash'
    </p>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01 | Take(5)</strong>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 | TakeLast(5)</strong>
            <hr>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03 | TakeUntil(condition)</strong>
            <hr>
            <ul id="elContainer3"></ul>
        </div>
    </div>


</div>

