<div class="m-5">
    <h2>Interval</h2>
    <h6>Creates an Observable that emits sequential numbers every specified interval of time, on a specified SchedulerLike.</h6>

    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 1</div>
                <div class="card-body">
                    <ul id="elContainer">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 2</div>
                <div class="card-body">
                    <ul id="elContainer2">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">User 3</div>
                <div class="card-body">
                    <ul id="elContainer3">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>