<div class="m-5">
    <h2>SwitchMap</h2>
    <h6>Maps each value to an Observable, then flattens all of these inner Observables using switchAll.</h6>
    <h6>Projects each source value to an Observable which is merged in the output Observable, emitting values only from the most recently projected Observable.</h6>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01 | MergeMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 | ConcatMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comedy', 'News']
            </p>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03 | SwitchMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comedy', 'News']
            </p>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>