<div class="m-5">
    <h2>mergeMap</h2>
    <h6>Maps each value to an Observable, then flattens all of these inner Observables using mergeAll.</h6>
    <h6><span class="text-warning">mergeAll</span> : Flattens an Observable-of-Observables.</h6>
    <br>

    <div class="row">
        <div class="col-md-4">
            <strong>Ex - 01 | Map</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comedy', 'News']
            </p>
            <hr>
            <ul id="elContainer"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 02 | Map + MergeAll</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comedy', 'News']
            </p>
            <ul id="elContainer2"></ul>
        </div>
        <div class="col-md-4">
            <strong>Ex - 03 | mergeMap</strong>
            <hr>
            <p class="bg-light py-2 px-3 border rounded">
                <strong>Videos : </strong> ['Tech', 'Comedy', 'News']
            </p>
            <ul id="elContainer3"></ul>
        </div>
    </div>
</div>