<div class="m-5">
    <h2>Subject and Behavior Subject</h2>
    <h6>An RxJS Subject is a special type of Observable that allows values to be multicasted to many Observers. </h6>
    <br>

    <hr>
    <h3>Username is <span class="text-primary">{{username}}</span></h3>
    <hr><br>

    <div class="row">
        <div class="col-md-4">
            <app-comp1></app-comp1>
        </div>
        <div class="col-md-4">
            <app-comp2></app-comp2>
        </div>
        <div class="col-md-4">
            <app-comp3></app-comp3>
        </div>
    </div>
</div>