/* You can add global styles to this file, and also import other style files */

@import '~bootstrap/dist/css/bootstrap.min.css';

ul.techList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.techList li{
    background: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 13px;
    margin-bottom: 10px;

}

ul.techList.error li{
    color: red;
    background: rgb(255, 0, 0, 0.08);
    border-color: red;
}

ul.techList.completed li{
    color: green;
    background: rgb(61, 216, 67 , 0.08);
    border-color: green;
}

.notification{
    background: #fff;
    position: absolute;
    top: 70%;
    transform: translate(-100%, -100%);
    left: 100%;
    width: 100%;
    padding: 0 5px;;
}

.notification .item {
    overflow: hidden;
}

.notification .item:not(:first-child) {
    border-top: 1px solid #f5f5f5;
}

.notification .header {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 600;
    padding: 5px 0 10px;
}

.notification .header .time {
     opacity: .3;
     font-size: 12px;
     font-weight: 500;
}

.notification .body{
    font-size: 13px;
    line-height: normal;
}

.notification .body .item-img{
    float: right;
    margin:  0 0 0 10px;
    border: 1px solid #989898;
}