<div class="m-5">
    <h2>ShareReplay</h2>
    <h5>Share source and replay specified number of emissions on subscription.</h5>
    <br>


    <div class="row gap-5">
        <div class="col-md-3">
            <strong>Products :
                <span class="text-primary">Laptop</span>
            </strong>

            <hr>

            <div class="row" *ngFor="let items of laptops | async">
                <div class="card">
                    <img [src]="items.imgUrl" class="card-img-top">
                    <div class="card-body">
                        <small>Id: {{items.id}}</small>
                        <h5 class="card-title">{{items.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{items.type}}</h6>
                        <p class="card-text">{{items.description}}</p>
                        <div class="d-flex align-items-center">
                            <strong>Price: {{items.price}}</strong>
                            <a href="#" class="btn btn-dark btn-sm ml-auto">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <strong>
                <span class="text-warning">Mobile</span>
            </strong>

            <hr>

            <div class="row" *ngFor="let items of mobiles | async">
                <div class="card">
                    <img [src]="items.imgUrl" class="card-img-top">
                    <div class="card-body">
                        <small>Id: {{items.id}}</small>
                        <h5 class="card-title">{{items.name}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{items.type}}</h6>
                        <p class="card-text">{{items.description}}</p>
                        <div class="d-flex align-items-center">
                            <strong>Price: {{items.price}}</strong>
                            <a href="#" class="btn btn-dark btn-sm ml-auto">Buy Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row all-products">
            <div class="col-md-12">
                <strong>All Products</strong>
                <hr>

                <div class="row">
                    <div class="col-md-3" *ngFor="let items of allProducts | async">
                        <div class="card">
                            <img [src]="items.imgUrl" class="card-img-top">
                            <div class="card-body">
                                <small>Id: {{items.id}}</small>
                                <h5 class="card-title">{{items.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{items.type}}</h6>
                                <p class="card-text">{{items.description}}</p>
                                <div class="d-flex align-items-center">
                                    <strong>Price: {{items.price}}</strong>
                                    <a href="#" class="btn btn-dark btn-sm ml-auto">Buy Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>